<div class="jumbotron my-0 ">
    <h1 class="display-4">Welcome to <strong>VoteTheWorst</strong></h1>
    <p class="lead">
        This website is a dedicated chat room for residents of India. This website also hosts frequent polls on who is worse.
    </p>
    <hr class="my-4">
    <p><em>Register yourself to get started. If you are already registered, then head towards the chat rooms.</em></p>
    <a class="btn btn-outline-primary btn-sm mt-2 little-padding-top" href="#" role="button" (click)="toggleRegister()">Register</a>
    <a class="btn btn-outline-primary btn-sm ml-3 little-padding-top mt-2" href="#" role="button">Chat rooms</a>
    <a class="btn btn-outline-primary btn-sm ml-3 little-padding-top mt-2" href="#" role="button">Vote the worst</a>
    <hr class="my-4">
    <div class="card-deck">
        <div class="card gradient-bg text-white">
            <div class="card-body text-center">
                <h4>25</h4>
                <p class="card-text">active users</p>
            </div>
        </div>
        <div class="card gradient-bg bg-success text-white">
            <div class="card-body text-center">
                <h4>25</h4>
                <p class="card-text">active boards</p>
            </div>
        </div>
        <div class="card gradient-bg bg-info text-white">
            <div class="card-body text-center">
                <h4>4</h4>
                <p class="card-text">active polls</p>
            </div>
        </div>
        <div class="card gradient-bg bg-info text-white">
            <div class="card-body text-center">
                <h4>3600</h4>
                <p class="card-text">archived discussion</p>
            </div>
        </div>
    </div>
</div>
