<div class="jumbotron">
    <h1 class="display-4">Welcome to <strong>VoteTheWorst</strong></h1>
    <p class="lead">
        This website is a dedicated chat room for residents of India. This website also hosts frequent polls on who is worse.
    </p>
    <hr class="my-4">
    <p><em>Register yourself to get started. If you are already registered, then head towards the chat rooms.</em></p>
    <a class="btn btn-outline-primary btn-sm mt-2 little-padding-top" href="#" role="button" (click)="toggleRegister()">Register</a>
    <a class="btn btn-outline-primary btn-sm ml-3 little-padding-top mt-2" href="#" role="button">Chat rooms</a>
    <a class="btn btn-outline-primary btn-sm ml-3 little-padding-top mt-2" href="#" role="button">Vote the worst</a>
  </div>
