<div class="jumbotron pb-0">
    <h1 class="display-4">Welcome to <strong>VoteTheWorst</strong></h1>
    <p class="lead">
        This website is a dedicated chat room for residents of India. This website also hosts frequent polls on who is worse.
    </p>
    <hr class="my-4">
    <p><em>Register yourself to get started. If you are already registered, then head towards the chat rooms.</em></p>
    <a class="btn btn-outline-primary btn-md mt-2" href="#" role="button">Register</a>
    <a class="btn btn-outline-primary btn-md ml-3 mt-2" href="#" role="button">Chat rooms</a>
    <a class="btn btn-outline-primary btn-md ml-3 mt-2" href="#" role="button">Vote the worst</a>
    <div id="hide-window" class="text-center pb-0 pt-2" title="Hide this window">
        <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
    </div>
  </div>
