<div class="container window-popup">
    <div class="jumbotron pt-2">
        <h1 class="display-4 pt-0"><strong>Register to get started</strong></h1>
        <hr class="my-4">
        <form>
            <div class="form-group">
                <label for="registerUsername">Username:</label>
                <input type="text" class="form-control" id="registerUsername" aria-describedby="usernameHelp">
                <small id="usernameHelp" class="form-text text-muted">Pick a username for yourself</small>
            </div>
            <div class="form-group">
                <label for="registerPassword">Password:</label>
                <input type="password" class="form-control" id="registerPassword" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Password should be atleast 6 characters long</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</div>